<% layout('_layouts/main') -%>
<% block('stylesheets','<link rel="stylesheet" href="/stylesheets/profile.css" />') -%>
<div class="container emp-profile">
    <form method="POST" action="updateavatar" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="/avatar/<%= profile.id %>/avatar.jpeg" alt="" />
                    <div class="file btn btn-lg btn-primary">Change Photo<input type="file" name="avatar" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5><%= profile.username %></h5>
                    <h6>
                        Web Developer and Designer
                    </h6>
                    <p class="proile-rating">RANKINGS : <span><%= profile.ranking %>/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button onclick="edit()" class="btn edit" name="btnAddMore" type="button">Edit
                    Profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= profile.username %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= profile.email %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p><%= profile.userphone %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Permission</label>
                            </div>
                            <div class="col-md-6">
                                <% if (profile.permission==0) { %> <p>Người dùng mặc định/ Có thể đấu giá <br> <a
                                        href="#" id="changeRole">Thay đổi </a></p> <% } %>
                                <% if (profile.permission==1) { %> <p>Có thể đấu giá/ Đăng bán sản phẩm</p> <% } %>
                                <% if (profile.permission==2) { %> <p>Admin</p> <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>230</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("input[type=file]").click(function () {
            $(this).val("");
        });

        $("input[type=file]").change(function () {
            readURL(this);
            
        });
        
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.profile-img img').attr('src', e.target.result);
                $(".file").html("Upload").click(()=>{
                    $.ajax({
                        method:"POST",
                        url: "http://localhost:3000/user/updateavatar",
                        success: ()=>{
                            Swal.fire({
                                icon:"success",
                                text:"Success",
                                timer:1000
                            },()=>{
                                location.reload();
                                tr.hide();
                            })
                        }
                    })
                });
            }
            reader.readAsDataURL(input.files[0]);
            
        }
        $(".file").addClass("bg-info").html("Wating for upload");
 
    }
    //edit profile
    function edit() {
        $(".edit").addClass('submit btn-warning')
            .html("Save");
        $(".submit").prop("onclick", null).off("click")
        .click(()=>{
            Swal.fire({
                title:"Cập nhật thành công",
                icon:"success",
                timer:"1000"
            },()=>{
                location.reload();
                tr.hide();
            })
        })
    }
    //change permission
    $('#changeRole').click(() => {
        changeRole();
    })

    function changeRole() {
        Swal.fire({
            title: "Notify",
            text: "Xin cấp quyền thành seller",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    method: "POST",
                    data: {
                        iduser: <%= profile.id %>,
                        text: "Xin cấp quyền",
                        idread: 0
                    },
                    url: "http://localhost:3000/user/updateseller",
                    dataType: "json",
                    success: (data) => {
                        console.log(data);
                    }
                })
            }

        })
    }
</script>