
<% block('script', '<script src="/javascripts/search.js"></script>') -%>
<div class="container-fluid bg-white">
  <nav class="navbar d-block navbar-expand-lg navbar-white bg-white">
    <div class="d-flex align-items-center container pt-1 pb-2">
      <div class="navbar-brand"><a href="/" class="nav-link">Bidding</a></div>
      <form class="form-inline my-2 mr-4" method="GET" action="/product"  onsubmit="return clearBoxes()">
        <input class="form-control mr-sm-2 rounded-pill" id="searchInput" name="searchInput" type="search"
          aria-describedby="inputGroup-sizing-sm" placeholder="Search" aria-label="Search">
        <button class="btn-danger" type="submit" onclick="searchChange()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      <div class="nav-user align-middle ml-4 ml-auto">
        <% if (typeof user != "undefined") { %>

        <div class="user d-flex">
          <div class="user notification">
            <div class="hvr-icon-buzz-out notify">
              <i class="fas fa-bell fa-lg hvr-icon mx-2"></i>
            </div>
            <ul class="notification-menu">
              <li>
                <img class="avatar" src="https://s3.amazonaws.com/codecademy-content/projects/2/feedster/wr2.svg">
                <h3>William Roberts II</h3>
                <p>Clean as a whistle</p>
                <div class="row mx-2"><a href="" class="mr-auto">ACCEPT</a><a href="">DENY</a></div>
              </li>
              <li>
                <img class="avatar" src="https://s3.amazonaws.com/codecademy-content/projects/2/feedster/fn.svg">
                <h3>Faheem Najm</h3>
                <p>All I do is win</p>
              </li>
            </ul>
          </div>
          <div class="user dropdown">
            <div class="hvr-icon-spin ">
              <i class="fas fa-lg fa-cog hvr-icon mx-2" aria-hidden="true"></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <div class="triagle"></div>
              <a class="dropdown-item" href="/user/profile">Profile</a>
              <% if (user.permission == 2) { %> <a class="dropdown-item" href="/admin">AD Page</a> <% } %>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="/user/logout">Log out</a>
            </div>
          </div>
        </div>


        <% } else {%>
        <a href="/user/signin" class="nav-link hvr-underline-from-center text-dark">Sign in/ Sign up</a>
        <%}%>
        

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>


    <div class="container-fluid bg-cus">
      <div class="container ">
      <div class="collapse p-2 navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="/product" class="nav-link dropdown-toggle">category</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% cate.forEach(e => {%>
              <a class="hvr-underline-from-center dropdown-item" href="/product?cat=<%= e.id %>"><%= e.categoryname %> </a>
            <%})%> 
          </div>
        </li>
        <li class="nav-item ml-1 hvr-underline-from-center">
          <a class="nav-link " href="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item hvr-underline-from-center">
          <a class="nav-link " href="#">hot deal</a>
        </li>
        <li class="nav-item hvr-underline-from-center">
          <a class="nav-link " href="/product/myproduct">my product</a>
        </li>
        <li class="nav-item hvr-underline-from-center">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item hvr-underline-from-center">
          <a class="nav-link" href="/contact">contact</a>
        </li>
        

      </ul>
      <div class=" ml-auto"></div>
      <a class="cart-btn nav-link hvr-grow" href="#"><i class="fas fa-cart-plus mr-2 fa-lg"></i>Cart<span class="cart-items badge badge-danger align-top"></span></a>
      
    </div>
    </div>
    </div>
  </nav>
  <div class="cart-overlay">
    <div class="cart">
      <span class="close-cart">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </span>
      <h2>Your Cart</h2>
      <div class="cart-content">
        <% if (typeof user != "undefined") { %>
              <% list.forEach(element => {%>
            <div class="cart-item">
            <img src="/images/ip111.jpg" alt="product"/>
            <div>
              <h5><b><%= element.nameProduct %></b></h5>
              <h4 style="color: red;"><span>Now price : $<span class = "bid_price"> <%= element.nowprice %> </h4>
              <h4>Current price: $ <span class = "highest_price">1125.00</span></h4>
              <p></p>
              <h4 >Time left: <span class = "time_left">1 day</span></h4>
            </div>
            <button type="button" class="remove-item btn btn-danger" onclick="deleteitem(<%= element.id %>)"><i class="fa fa-trash" aria-hidden="true"></i> </button>
          </div>
          <%})%>
          <%}%>
          <div class="cart-footer">
            <h3>Your total : $ <span class="cart-total">999.00</span></h3>
            <button type="button" class="clear-cart btn btn-warning">Clear cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>