<div class="row">
    <%temp.forEach((element,i) => {%>
    <div class="col-md-3 col-sm-3 mt-2">
        <div class="card text-left">
            <div class="card-view ">
                <img class="card-img-top" src="/uploads/<%=element.id%>/1.jpg" alt="">
                
                <div class="seemore  hvr-icon-pulse-grow">
                    <div class="pb-4"><a href="">Add to cart</a></div>
                    <div class="pt-4"><a href="product/id=<%=element.id%>">View More</a></div>
                    <i class="fas fa-heart ml-auto fa-2x heart  hvr-icon" style="color: red; margin-right: 5px; bottom: 20; top:auto;" aria-hidden="true"
                    title="Add to my watch list" onclick="addtolist(<%= element.id %>)"></i>
                </div>

            </div>

            <div class="card-body m-2">
                <h4 class="card-title"><%= element.nameProduct %></h4>
                
                <div class="row">
                    <div class="col">
                        <h6 class="card-text"><span class="cp"><%= element.priceExpect %></span></h6>

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <h6 class="card-text"><span class="op"><%= element.priceStart %></span></h6>

                        <div class="datepost float-right d-flex mt-2">
                            <div>Date post:</div>
                            <div class="dp ml-2"><%= gb(element.dateUp) %></div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <% }); %>
</div>

<script>
    function addtolist(index){
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/product/addtolist",
            data: {idproduct: index},
            dataType: "json",
            success: function (response) {
                if(response.nonuser){
                    Swal.fire({
                        title: "Bạn cần đăng nhập để thực hiện tính năng này",
                        showConfirmButton: true,
                        confirmButtonText: "Sign in",
                        showCancelButton: true,
                        icon: "warning",
                        timer: 3000

                    }).then(result=>{
                        if(result.value){
                            location.href="http://localhost:3000/user/signin"
                        }
                    })
                }else if(response.inlist){
                    Swal.fire({
                        title: "Sản phẩm này đã có sẵn trong dánh sách ưa thích",
                        showConfirmButton: false,
                        cancelButtonText: "I Know",
                        showCancelButton: true,
                        icon: "warning",
                        timer: 2000
                    })
                }else if(response.result){
                    Swal.fire({
                        text: "Thêm vào danh sách ưa thích thành công",
                        icon: "success",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                
            }
        });
    }

</script>