<div class="row">
<%temp.forEach((element,i) => {%>
    <div class="col-md-3 col-sm-3 mt-2">
        <div class="card text-left">
            <div class="card-view ">
                <img class="card-img-top" src= "/uploads/<%=element.id%>/1.jpg" alt="">
                <div class="seemore">
                    <div class="pb-4"><a href="">Add to cart</a></div>
                    <div class="pt-4"><a href="product/demo">View More</a></div>
                </div>
            </div>

            <div class="card-body m-2">
                <h4 class="card-title"><%= element.nameProduct %></h4>
                <div class="row">
                    <div class="col">
                        <h6 class="card-text">Current Price <span class="cp"><%= element.priceExpect %></span></h6>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <h6 class="card-text">Original price: <span class="op"><%= element.priceStart %></span></h6>
                        <div class="datepost float-right d-flex mt-2">
                            <div>Date post:</div>
                            <div class="dp ml-2"><%= gb(element.dateUp) %></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <% }); %>
</div>